* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
}
p {
  background-color: rgba(75, 39, 39, 0.5);
  font-size: 33px;
  font-weight: bold;
}
.container {
  background-color: green;
  max-width: 1105px;
  margin: 0 auto;
}
.button {
  padding: 20px;
  margin: 0 20px 0 0;
  border: 1px solid #000;
  border-radius: 20px;
}
