/* * { */ */
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
}
body{
  font-family: 'Montserrat', sans-serif;
}
.container {
  max-width: 1105px;
  margin: 0 auto;
}

.app {
  background-image: url("../img/bg1.png");
  color: white;
  text-align: center;
  padding: 80px 0 162px;
  background-repeat: no-repeat;
  block-size: cover;
  background-position: center;
}
.app-pretitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}
.app-title {
  font-weight: bold;
  font-size: 58px;
  line-height: 80px;
  min-width: 650px;
  margin: 10px auto;
}
.app-text {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 54px;
}
.button {
  width: 235px;
  height: 68px;
  color: white;
  border-radius: 30px;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}
.button:first-of-type {
  background: #fa4a0c;
  border: 1px solid #fa4a0c;
  margin-right: 67px;
}
.button:last-of-type {
  background: none;
  border: 1px solid white;
}
.order {
  background-image: url("../img/bg2.png");
  color: white;
  text-align: center;
  padding: 141px 0 130px;
  background-repeat: no-repeat;
  block-size: cover;
  background-position: center;
}
.order-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
}
.order-text {
  font-size: 24px;
  line-height: 38px;
  margin: 10px 0 60px;
}
.button-order {
  height: 64px;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  line-height: 28px;
  cursor: pointer;
}
.button-order:first-of-type {
  background: #fa4a0c;
  border: 1px solid #fa4a0c;
  width: 142px;
  margin-right: 16px;
}
.button-order:last-of-type {
  background: none;
  border: 1px solid white;
  width: 173px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto;
}

.nav-li:not(last-of-type) {
  margin-right: 90px;
}

.nav-li {
  display: inline-block;
}
.nav-link {
  color: black;
  text-decoration: none;
}
.nav-link:hover {
  color: #fa4a0c;
}
.mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-pretitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #fa4a0c;
}
.mobile-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  max-width: 560px;
}
.mobile-text {
  font-size: 24px;
  line-height: 38px;
  color: #737373;
  max-width: 400px;
}
.mobile-title-second {
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  max-width: 480px;
}
.how-works {
  font-weight: 600;
  font-size: 44px;
  line-height: 36px;
  text-align: center;
  margin-top: 56px;
  margin-bottom: 70px;
}
